@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600&family=Noto+Serif+Display:ital,wght@1,600&display=swap");

body {
  background-color: #1a1a1a;
  background-image: url("./images/bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  color: #ffffff;
}

.carousel__slide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.carousel__slide div div {
  height: 600px;
  width: 800px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

details {
  transition: height 0.5s ease;
  overflow: hidden;
}

details:not([open]) {
  height: 1.25em;
}

details.appendix[open] {
  height: 72em;
}

details.gallery[open] {
  height: 43em;
}
